@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 34, 44;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  margin: 0 auto;
  /* max-width: 1024px; */
  min-width: 300px;
  height: 100%;
}

.frostedBg {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.cta-bg {
  color: white;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #000000,
    #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #000000,
    #434343
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-link {
  @apply relative hover:text-white cursor-pointer tracking-[1px];
}

.nav-link:focus,
.nav-link:hover {
  @apply text-white;
}

.menu-link::after {
  @apply content-[''] bg-white h-[3px] w-[0] left-0 -bottom-[4px] rounded-xl absolute duration-300;
}

.menu-link:hover::after,
.menu-link:focus::after {
  @apply w-[100%];
}

.menu-link-footer {
  @apply relative hover:text-white cursor-pointer tracking-[1px];
}
